        <!-- HEADER AND NAVBAR OF SEBAL DASHBOARD-->
        <header>
            <nav style="background-color:rgb(68, 66, 66);">
                <div class="row"
                  style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="col-md-3" style="padding-left: 10%;">
                        <a href="#monitor">
                            <img src="../images/sebal-logo-small.png" style="max-width:40%; height: auto; display: block;"></img>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center; font-size:5.5em;">
                        <a href="#selectRegion" style="color:white !important;">
                            <span class="glyphicon glyphicon-th span-button" aria-hidden="true" style="padding: 20px 60px 20px 60px;">
                            </span></a>
                        <a href="#monitor" style="color:white !important;">
                            <span class="glyphicon glyphicon-th-list span-button" aria-hidden="true" style="padding: 20px 60px 20px 60px;"></span></a>
                        <a href="" style="color:white !important;" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-plus span-button" aria-hidden="true" style="padding: 20px 60px 20px 60px;"></span></a>
                    </div>
                    <div class="col-md-3" style="text-align: center; font-size:2em;">
                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding: 20px 80px 20px 80px;">
                                <a href="" ng-click="doLogout()">{{user.name}}<span class="glyphicon glyphicon-user" aria-hidden="true" style="padding-left:10px;"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div ng-show="globalMsg.getContent() !== undefined" class="alert {{globalMsg.getLevel()}} light alert-dismissable" id="alert-demo-2">
            <button type="button" class="close" ng-click="clearGlobalMsg()" aria-hidden="true">×</button>
            <i class="fa fa-info pr10"></i>
            {{globalMsg.getContent()}}
        </div>
       
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" ng-controller="RegionController"
          role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" align="right">
                  <span class="glyphicon glyphicon-remove-sign sb-close-md-btn" 
                    aria-hidden="true" data-dismiss="modal"/>
              </div>
              <div class="modal-body" style="background-color: rgb(120, 130, 140)">
                <form>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="date" class="sebal-input sb-md sb-thin" id="firstYearField"
                        ng-model="firstYear" required placeholder="First Year">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="date" class="sebal-input sb-md sb-thin" id="secondYearField" 
                        ng-model="secondYear" required placeholder="Last Year">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin"  id="regionField" 
                        ng-model="region" required placeholder="Region">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin" id="versionField" 
                       ng-model="sebalVersion" required placeholder="Sebal Version">
                  </div>
                  <div style="margin-left: 8%; margin-right: 20%;">
                    <div ng-click="submitRegion()" data-dismiss="modal" class="sebal-button sb-main sb-md">
                      SUBMIT
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
               
              </div>
            </div>
          </div>
        </div>
