<div id="header">
	<div ng-include="'pages/main.html'"></div>
</div>

<div id="content" ng-controller="MonitorController" class="sebal-content">
  <!-- Begin: Content -->
  <!-- begin: .tray-center -->
    <div class="tray tray-center pn">
      <div class="panel sebal-table-container" ng-controller="PaginationController">
        
        <div class="panel-menu br-n" style="background-color: rgb(120, 130, 140);">
          <div class="row">
            <div class="hidden-xs hidden-sm col-md-2">
              <div class="btn-group">
                <button type="button" class="btn btn-default light" ng-click="getSebalImages()" >
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </div>
            <div class="col-xs-10 col-md-7 text-right">
              <div class="btn-group">
                <ul class="pagination" ng-if='pageCount(sebalImages) > 0' style="display:inline!important;">
                  <li ng-if='!prevPageDisabled'>
                    <a href ng-click="prevPage()">
                      <span >&laquo;</span>
                    </a>
                  </li>
                  <li ng-repeat="n in getPages()" ng-click="setPage(n-1)"><a href >{{n}}</a></li>
                  <li ng-if='!nextPageDisabled'>
                    <a href ng-click="nextPage()">
                      <span>&raquo;</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 text-right">
              <input type="text" class="sebal-input sb-md sb-thin"  id="filter"  ng-model="filterValue"
                required placeholder="SEARCH IN TABLE" ng-change="filterTable()">
               <span class="glyphicon glyphicon-filter sebal-input-span" aria-hidden="true"></span>
              </input>
            </div>
          </div>
        </div>
        <div id="table-div">
        <!-- message listings table -->
        <table id="image-table" class="sebal-table">
          <thead>
            <tr class="table-header">
              <th>
                <div class="div-table row">
                  <div class="col-md-1">#</div>
                  <div class="col-md-3 main-column">Name</div>
                  <div class="col-md-3">Created</div>
                  <div class="col-md-3">Updated</div>
                  <div class="col-md-2">State</div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="searchable">
            <tr ng-repeat="i in sebalImages | limitTo: itemsPerPage">
              <td>
                <div class="div-table-row row">
                  <div class="col-md-1">{{$index + 1}}</div>
                  <div class="col-md-3 selectable main-column" ng-click="showDetail('detail'+$index)">{{i.name}}</div>
                  <div class="col-md-3">{{ i.creationTime}}</div>
                  <div class="col-md-3">{{i.updateTime}}</div>
                  <div class="col-md-2">{{i.state}}</div>
                </div>
                <div id="detail{{$index}}" class="div-table row sb-table-detail hidden">
                  <div class="col-md-12">
                    <dl class="dl-horizontal">
                      <dt>Download Link</dt>
                      <dd>{{ i.downloadLink}}</dd>
                      <dt>State</dt>
                      <dd>{{ i.state}}</dd>
                      <dt>Federation Member</dt>
                      <dd>{{ i.federationMember}}</dd>
                      <dt>Priority</dt>
                      <dd>{{ i.priority}}</dd>
                      <dt>Station ID</dt>
                      <dd>{{ i.stationId}}</dd>
                      <dt>Sebal Version</dt>
                      <dd>{{ i.sebalVersion}}</dd>
                      <dt>Sebal Tag</dt>
                      <dd>{{ i.sebalTag}}</dd>
                      <dt>Crawler Version</dt>
                      <dd>{{ i.crawlerVersion}}</dd>
                      <dt>Fetcher Version</dt>
                      <dd>{{ i.fetcherVersion}}</dd>
                      <dt>Blowout Version</dt>
                      <dd>{{ i.blowoutVersion}}</dd>
                      <dt>Fmask Version</dt>
                      <dd>{{ i.fmaskVersion}}</dd>
                      <dt>Creation Time</dt>
                      <dd>{{ i.creationTime}}</dd>
                      <dt>Update Time</dt>
                      <dd>{{ i.updateTime}}</dd>
                      <dt>Status</dt>
                      <dd>{{ i.status}}</dd>
                      <dt>Error</dt>
                      <dd>{{ i.error}}</dd>
                    </dl>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  <!-- End: Content -->
</div>	




     