<div id="header">
	<div ng-include="'pages/main.html'"></div>
</div>

<div id="content" ng-controller="MonitorController" class="sebal-content">
  <!-- Begin: Content -->
  <section class="table-layout animated fadeIn">
  <!-- begin: .tray-center -->
    <div class="tray tray-center pn">
      <div class="panel sebal-table-container" ng-controller="PaginationController">
        
        <div class="panel-menu br-n" style="background-color: rgb(120, 130, 140);">
          <div class="row">
            <div class="hidden-xs hidden-sm col-md-2">
              <div class="btn-group">
                <button type="button" class="btn btn-default light" ng-click="getSebalImages()" >
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </div>
            <div class="col-xs-10 col-md-7 text-right">
              <div class="btn-group">
                <ul class="pagination" ng-if='pageCount(sebalImages) > 0' style="display:inline!important;">
                  <li ng-if='!prevPageDisabled'>
                    <a href ng-click="prevPage()">
                      <span >&laquo;</span>
                    </a>
                  </li>
                  <li ng-repeat="n in getPages()" ng-click="setPage(n-1)"><a href >{{n}}</a></li>
                  <li ng-if='!nextPageDisabled'>
                    <a href ng-click="nextPage()">
                      <span>&raquo;</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 text-right">
              <input type="text" class="sebal-input sb-md sb-thin"  id="filter"  ng-model="filterValue"
                required placeholder="SEARCH IN TABLE" ng-change="filterTable()">
               <span class="glyphicon glyphicon-filter sebal-input-span" aria-hidden="true"></span>
              </input>
            </div>
          </div>
        </div>
        <!-- message listings table -->
        <table id="image-table" class="table tc-checkbox-1 admin-form theme-warning br-t sebal-table">
          <thead>
            <tr class="table-header">
              <th class="text-center hidden-xs">#</th>
              <th class="main-column">Name</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="searchable">
              <tr ng-repeat="i in sebalImages | limitTo: itemsPerPage">
              <td>{{$index + 1}}</td><td class="selectable main-column" ng-class="{'selected' : i.name == actualImage}">{{i.name}}</td><td>{{ i.creationTime}}</td><td class="hidden-xs">{{i.updateTime}}</td><td>{{i.status}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  <!-- End: Content -->
  </section>
</div>	




     